<div class="center hero-unit">
    <h1>Welcome to Katalog Miniatur</h1>
    <h2>
      This is the home page for the Miniatury Katalog application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
    <%= link_to "Sign in!", signin_path, 
                                class: "btn btn-large btn-secondary" %>



</div>