<% provide(:title, 'About') %>
<div class="span12">
<div class="hero-unit">
  <h1>Katalog Miniatur</h1>
  <p>Katalog Miniatur: About</p>
  <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
</div>


