<% provide(:title, 'Home') %>

<div class="span3">
  <%= render 'layouts/sidebar' %>
</div><!--/span-->

<div class="span9">
  <h1>Katalog Miniatur</h1>
  <p>Katalog Miniatur</p>
</div><!--/span-->




